.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.mobile .title {
    padding: 30px 0;
}

.mobile .title {
    flex-flow: column wrap;
}

.title h1 {
    text-align: center;
    color: #51514d;
    font-weight: 700;
}

.mobile .title h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

.options {
    display: flex;
    flex-flow: row wrap;
}

.options > a {
    margin: 0 10px;
}

.options .add {
    display: block;
    padding: 10px 15px;
    background: #ee8700;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-weight: 700;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    transition: ease-in .25s;
}

.options .add:hover {
    background: #e68301;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.1);
}

.options .back {
    background: #f9f9f9;
    color: #000;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 5px;
    padding: 10px 15px;
    transition: ease-in .25s;
}

.options .back:hover {
    text-decoration: none;
    background: #f5f5f5;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.1);
}

.options .add,
.options .back {
    width: 220px;
}

.mobile .options,
.mobile .options .add,
.mobile .options .back {
    width: 100%;
    margin: 5px 0;
}

#IdProduct_chosen .chosen-single {
    height: 40px;
    display: flex;
    align-items: center;
    background: white;
}

#IdProduct_chosen b {
    margin-top: 8px;
}

#IdProduct_chosen .highlighted {
    background: #ee8700;
    color: #fff;
}